.contact-content{
    display: flex;
    flex-direction: row;
    width : 100%;
    height : 90%;
    background-color: rgba(11, 7, 7, 0.855);
    /* background-image: url("/public/images/backGround2\ .jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    align-items: center; 
    justify-content: space-around;
}

.contact-content .contact-map-area{
   width: 40%;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.contact-content .contact-map-area iframe{
    width: 100%;
    opacity: 0.8; 
}

.contact-content .contact-form{
    width: 40%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    background-color: rgba(36, 34, 34, 0.855);
   
}

.contact-content .contact-form form{
    display: flex;
    flex-direction: column;
    
    justify-content: space-around;
    align-items: center;
}

.contact-form input{
    height: 40px;
    margin: 10px;
    width: 70%;
    padding: 10px;
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5); 
    opacity: 0.8;
    animation-name: expand-form;
    transition-duration: 0.5s;
    animation-duration: 3s;
}


.contact-form button{
    width: 40%;
    padding: 10px;
    opacity: 0.8; 
    animation-name: expand-button;
    animation-duration: 3s;
    transition:  1s;
    margin:5px;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
}

.contact-form button:hover{
    width: 30%;
    border-radius: 10px;
    background-color: rgb(249, 104, 104);
    color: #fff;
    cursor: pointer;
}

.contact-form input:focus, textarea:focus{
    outline-color: rgba(255, 59, 59, 0.76);
    border-radius:13px;
}


.contact-form button:active{
    background-color: rgb(252, 80, 80);
}

.contact-form select{
    padding: 10px;
    margin: 10px;
    opacity: 0.8; 
    animation-name: expand-select;
    animation-duration: 3s;
}

.contact-form textarea{
    margin: 10px 45px;
    padding: 20px;
    width: 90%;
    opacity: 0.8; 
    margin-right: 45px;
    animation-name: expand-textarea;
    animation-duration: 3s;
    transition: 0.5s;
    
}

@media screen and (max-width:1000px){
    .contact-content{
        flex-direction: column;
        height: auto;
        justify-content: space-around;
    }

    .contact-content .contact-map-area{
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .contact-content .contact-form{
        width: 80%;
        margin-top: 10px;
       
    }
}


/*animation*/

@keyframes expand-form {
    from {width:10%}
    to{width: 70%}    
}

@keyframes expand-button {
    from{width: 10%}
    to{width:40%}
}
@keyframes expand-select {
    from{width: 10%}
    to{width:188.8px}

}
@keyframes expand-textarea{
    from{width: 10%;}
    to{width: 90%}
}

