
.product-detail{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
.product-image-area{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    align-items: center;
    
}
.product-features-area{
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 10px;
    justify-content: space-around;
    line-height: 38px;
    border: 2px solid #b9b9b9;
}

.product-features-area p,h3{
    font-size: 1.1rem;
    font-family: 'Oswald', sans-serif;
}

.product-detail-button{
    display: flex;
    width: 100%;
    justify-content:right;
    
}

.product-detail-button button{
    width: 40%;
    padding: 15px;
    border: none;
    border-radius: 20px;
    /* background-color: rgb(255, 99, 21); */
    background-color: var(--orange);
    font-family: 'Oswald', sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 1.1rem;
    transition: 1.2s;
}

.product-detail-button button:hover{
    width: 50%;
    background-color: rgb(254, 85, 0);
}

.product-big-image{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}

.product-big-image img{
    margin: 3px;
    width: 55%;
    box-shadow: 0 2px 10px 1px rgba(0,0,0,0.5); 
}

.product-big-image a{
    background-color:var(--orange);
    color: #fff;
    list-style:none;
    font-size: 1.2rem;
    width: auto;
    padding: 5px;
    text-align: center;
    opacity: 0.9;
    
}

.product-small-image{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px;
    gap: 10px 10px;
    justify-content: space-around;
    padding: 5px;
}
.product-small-image .small-product-pic{
    display: flex;
    width: 80px;
    padding: 5px;
    margin:3px;
   border: 1px solid lightslategrey;
}

.small-product-pic img{
    width: 100%;
}


@media screen and (max-width:1000px){
    .product-detail{
        flex-direction: column;
    }
    .product-image-area{
        width: 80%;
    }
    .product-features-area{
        width: 80%;
    }
}