.admin-panel-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content:space-between;
}

.vertical-container{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: rgba(235, 37, 37, 0.896);
    text-align: center;
    border-radius: 10px;
}

.admin-panel-title-area{
    margin: 10%;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}
.admin-panel-title{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9em;
}
.admin-icon{
    width: 25%;
    height: auto;
    border-radius: 15px;
   
}

.admin-panel-link {
    margin: 10%;
    width: 80%;
    height: 10%;
    border-radius: 5px;
    box-shadow: 5px 3px 3px rgb(21, 20, 20,0.5);
    text-decoration: none;
}

.admin-panel-buttons{
    width: 100%;
    height: 100%;
    color: rgba(235, 37, 37, 0.896);
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(15, 20, 27);
}

.admin-panel-buttons:hover{
    background-color: rgb(44, 44, 45);
}

.admin-panel-buttons:active{
    background-color: rgb(60, 60, 61);
}


.admin-logout-area{
    display: flex;
    margin-top: 70%;
    margin-left: 15%;
    width: 80%;
    height: 10%;
    justify-content:right;
    align-items:flex-end;
    text-align: right;
}

.admin-logout-link{
    width: 80%;
    height: auto;
    margin: 5%;
    border-radius: 5px;
    text-decoration: none;
}

.admin-panel-logout{
    width: 60%;
    height: 70%;
    border-radius: 5px;
    color: rgba(235, 37, 37, 0.896);
    font-weight: bold;
    background-color: rgb(15, 20, 27);
    box-shadow: 5px 3px 3px rgb(21, 20, 20,0.5);
}

.admin-panel-logout:hover{
    background-color: rgb(44, 44, 45);
}

.admin-panel-logout:active{
    background-color: rgb(60, 60, 61);
}
.vertical-container2{
    width: 80%;
    height: 100%;
}