.employee-info{
    margin: 0.5%;
    width: 20%;
    height: 50%;
    box-shadow: 0 0 10px rgba(240, 227, 227, 0.3);
    
}
.employee-pic{
    object-fit:scale-down;
    width: 100%;
    height: 80%;
    margin-bottom: -12%;
    
}
.name{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 5px;
}
.phone-number{
   font-weight: lighter;
   margin-left: 5px;
   margin-top: 3px;
   color: rgb(115, 117, 117);
   margin-bottom: 2px;
}
.appointment-button{
    margin-bottom: 4px;
    background-color:rgba(235, 37, 37, 0.896);
    color: white;
    border-color:azure;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 2px;
    
}

.appointment-button:hover{
    background-color: white;
    color: rgba(235, 37, 37, 0.896);
}
.appointment-button:active{
    background-color: rgb(209, 209, 209);
}

/* modal */
.modal-button{
    background-color: coral;
    padding:1em 2em;
    border: none;
    color: aliceblue;
}

.modal-button:hover{
    background-color: blueviolet;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left:0 ;
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
   background-color: #f4f4f4;
   margin: 10% auto;
   width:400px;
   box-shadow : 0 5px 8px 0 rgba(0, 0, 0, 0.2),
   0 7px 20px 0 rgba(0, 0, 0, 0.17);
   animation-name: modalopen;
   animation-duration: 2s;
}
.modal-header h2, .modal-footer h3{
    margin: 0;
}

.modal-header{
    padding:15px;
    background-color: coral;
    color: #fff;
}
.modal-body{
    width: 400px;
    height: auto;
    justify-content: center;
    text-align: center;
    
}
.serve-type{
    list-style: none;
    align-items: center;
    text-align: left;
    margin-left: 35%;
    font-size: 1.5em;
}
.modal-footer{
    background-color: coral;
    padding: 10px;
    color: #fff;
    text-align: center;
}
.closeBtn{
    color: #d1d1d1;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


@keyframes modalopen {
    from{opacity: 0}
    to{opacity:1}
}

