.emp-appoinment-table{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: auto;
    margin-left: 35%;
    margin-bottom: 2%;
}

/* modal */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left:0 ;
    top:0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
   background-color: #f4f4f4;
   margin: 10% auto;
   width:400px;
   box-shadow : 0 5px 8px 0 rgba(0, 0, 0, 0.2),
   0 7px 20px 0 rgba(0, 0, 0, 0.17);
   animation-name: modalopen;
   animation-duration: 2s;
}
.modal-header h2, .modal-footer h3{
    margin: 0;
}

.modal-header{
    padding:15px;
    background-color:rgba(235, 37, 37, 0.896);
    color: #fff;
}
.modal-body{
    width: 400px;
    height: auto;
    justify-content: center;
    text-align: center;
    
}
.serve-type{
    list-style: none;
    align-items: center;
    text-align: left;
    margin-left: 35%;
    font-size: 1.5em;
}
.modal-footer{
    background-color:rgba(235, 37, 37, 0.896);
    padding: 10px;
    color: #fff;
    text-align: center;
}
.closeBtn{
    color: #d1d1d1;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


@keyframes modalopen {
    from{opacity: 0}
    to{opacity:1}
}

/* modal-Button*/

#modal-button{
    margin-left: 72%;
    margin-top: 2%;
}

/*Appointment cancel button*/

.appointment-cancel{
    display: flex;
    width: 15%;
    height: 10%;
    margin-left: 43%;
    justify-content: center;
}

.cancel{
    width:auto;
    height: 100%;
    border: solid 2px rgba(112, 93, 93, 0.896);
    border-radius: 10px;
    background-color: rgba(235, 37, 37, 0.896);
    color: aliceblue;
    box-shadow: 2px 3px  rgba(42, 40, 40, 0.799);
}

.cancel:hover{
    background-color: aliceblue;
    color: #000;
    border: aliceblue;
}

.cancel:active{
    background-color: rgb(176, 181, 186);
}




