.login-box {
	background-color: #fff;
	margin: 50px auto;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #ddd;
	width: 400px;
}

h1 {
	text-align: center;
	margin-top: 0;
    font-family: 'Roboto', sans-serif;
}

form {
	display: flex;
	flex-direction: column;
}



input[type="text"],
input[type="email"],
input[type="password"] {
	padding: 10px;
	border: solid rgb(64, 61, 61) 1px;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 13px;
}

input[type="submit"] {
    width: 50%;
	background-color: #0b0b0b;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
    margin-left: 25%;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
	background-color: #5c625c;
}

.check-area{
    margin-top: 2%;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    font-weight:normal;
    line-height: 1.1;
    display:flow-root;
    grid-template-columns: 1em auto;
    gap: 0.4em;
}