.navbar-outer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.navbar-inner{
    display: inline-flex;
    flex-direction: row;
    width: 99%;
    height: 80%;
    background-color: rgb(13, 17, 23);
    box-shadow:  0 4px 8px 0 rgba(84, 70, 70, 0.2), 0 6px 20px 0 rgba(47, 38, 38, 0.19);
}

.logo{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 20%;
    height: 100%;
    align-items: start;
    
   
}

.logo-link{
    display: inline;
    text-decoration: none;
    margin-left: 5%;
    
    
}
.logo-img{
    width: 100%;
    
    
}
.logo-title{
    display: inline;
    font-size: 1em;
    color:rgba(235, 37, 37, 0.896);
    margin-left: 5%;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: bolder;
}

.reservation{
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

.btn-reserve{
    width: 70%;
    height: 70%;
    background-color:rgba(235, 37, 37, 0.896);
    border: none;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color:aliceblue;
}

.btn-reserve:active{
    background-color:rgba(216, 86, 86, 0.896);
}
.other-buttons{
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 100%;
    text-align: center;
    justify-content:space-between;
    align-content: center;
}

.user-name{
    font-size: 1.0em;
    font-family: 'Alegreya Sans SC', sans-serif;
    color:rgba(235, 37, 37, 0.896);
    font-weight:bolder;
    
}



.btn{
    width: 80%;
    height: 60%;
    align-self: center;
    border: none;
    border-radius: 3px;
    background-color:rgba(235, 37, 37, 0.896);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: aliceblue;
}

.btn:active{
   
    background-color:rgba(216, 86, 86, 0.896);
}

.reservation-form{
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 0%;
    justify-content: center;

}
.other-button-link{
    display:inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;  
}




.main-content{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
    background-color:rgba(235, 37, 37, 0.896);
    justify-content: center;
    margin: 10%;
    animation-name: main-content;
    animation-duration: 8s;
}



@keyframes main-content {
    from {background-color: rgb(15, 20, 27);}
    to{background-color:rgba(235, 37, 37, 0.896);}
}


.footer{
    display: inline-flex;
    flex-direction: row;
    width: 99%;
    height: 30%;
    background-color: rgb(13, 17, 23);
    box-shadow:  0 4px 8px 0 rgba(93, 78, 78, 0.2), 0 6px 20px 0 rgba(93, 78, 78, 0.2);
    justify-content:space-around;
    align-items: center;
    
}


.iletişim, .adres, .calisma-saatleri{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 70%;
    line-height: 1%;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight:lighter;
    color: rgba(235, 37, 37, 0.896);
}

.social-media{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    justify-content:space-around;
    align-items: center;

}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 40px;
  }
  
  .fa-facebook:hover {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter:hover {
    background: #55ACEE;
    color: white;
  }
  .fa-snapchat-ghost:hover {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  .fa-instagram:hover {
    background: #8a3ab9;
    color: white;
  }

  .fa-facebook,.fa-twitter,.fa-snapchat-ghost,.fa-instagram{
    background-color:rgba(235, 37, 37, 0.896);
    color: white;
  }

/* employee Page Cards */

.employee-cards-area{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    margin: 2% 2%;
    padding: 2%;
    justify-content: space-around;
}



  

