ul.pagination {
    display: inline-block;
    padding: 0;
    margin-top: 19%;
    box-shadow: 5px 3px 23px rgb(71, 58, 58);
}
ul.pagination .page-item {display: inline;}
ul.pagination .page-item .page-link {
    color: rgb(220, 21, 21);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid rgb(220, 21, 21);
}
ul.pagination .page-item.active .page-link {
    background-color: rgb(220, 21, 21);
    color: white; 
}
ul.pagination .page-item .page-link:hover:not(.active) {background-color: lightpink;}
div.center {text-align: center;}